<!-- navbar  -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand text-white" href="/">Provinsi & Kabupaten</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <a href="/content/add_provinsi" class="btn text-white">Tambah Provinsi</a>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <a href="/content/add_kabupaten" class="btn text-white">Tambah Kabupaten</a>
            </div>
          </div>
        </ul>
        </div>
    </div>
  </nav>
<!-- ending navbar  -->